<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-nav-soc-container">
      <nav class="footer-nav">
        <a
          class="footer-nav-logo"
          aria-label="Go to the homepage"
          href="/project-YachtRental04/index.html"
          >yachtjet</a
        >
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a
              href="#about-us"
              aria-label="Go to the About Us section"
              class="footer-nav-link"
              >About</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#our-yachts"
              aria-label="Go to the Our Yachts section"
              class="footer-nav-link"
              >Yachts</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#reviews"
              aria-label="Go to the Customer Reviews section"
              class="footer-nav-link"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            href="https://www.instagram.com/goitclub/"
            aria-label="Visit our Instagram profile"
            class="footer-soc-link"
            target="_blank"
            ><svg class="footer-soc-icon" width="19" height="19">
              <use href="/images/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            aria-label="Visit our YouTube channel"
            class="footer-soc-link"
            target="_blank"
            ><svg class="footer-soc-icon" width="19" height="19">
              <use href="/images/symbol-defs.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.facebook.com/goITclub/"
            aria-label="Visit our Facebook page"
            class="footer-soc-link"
            target="_blank"
            ><svg class="footer-soc-icon" width="19" height="19">
              <use href="/images/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <p class="footer-main-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-text-container">
      <p class="footer-text">2023. Yacht Adventures</p>
      <p class="footer-text">Privacy Police</p>
    </div>
  </div>
</footer>
