<header>
  <div class="container header-container">
    <nav class="header-nav">
      <a
        href="/project-YachtRental04/index.html"
        class="header-logo"
        aria-label="Go to Homepage"
        >yachtjet</a
      >
      <ul class="nav-list">
        <li>
          <a
            href="#about-us"
            class="mobile-nav-link"
            aria-label="Go to About Us section"
            ><div class="nav-link-container">About</div></a
          >
        </li>
        <li>
          <a
            href="#our-yachts"
            class="mobile-nav-link"
            aria-label="Go to Our Yachts section"
            ><div class="nav-link-container">Yachts</div></a
          >
        </li>
        <li>
          <a
            href="#reviews"
            class="mobile-nav-link"
            aria-label="Go to Customer Reviews section"
            ><div class="nav-link-container">Reviews</div></a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-social-links">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobile-social-link"
          target="_blank"
          aria-label="Visit our Instagram profile"
        >
          <svg class="header-social-icon" height="24" width="24">
            <use href="/images/symbol-defs.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-social-link"
          target="_blank"
          aria-label="Visit our YouTube channel"
          ><svg class="header-social-icon" height="24" width="24">
            <use href="/images/symbol-defs.svg#icon-youtube" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-social-link"
          target="_blank"
          aria-label="Visit our Facebook page"
          ><svg class="header-social-icon" height="24" width="24">
            <use href="/images/symbol-defs.svg#icon-facebook" />
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="menu-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="Open mobile navigation menu">
      <svg class="menu-icon" height="28" width="28">
        <use href="/images/symbol-defs.svg#icon-menu-duo-lg" />
      </svg>
    </button>
  </div>
  <div class="mobile-menu mobile-menu-transition js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
      <div class="container header-container">
        <a
          href="/project-YachtRental04/index.html"
          class="header-logo"
          aria-label="Go to Homepage"
          >yachtjet</a
        >
        <button type="button" class="close-btn js-close-menu" >
          <svg class="close-icon" width="16" height="16">
            <use href="/images/symbol-defs.svg#icon-close-sharp" />
          </svg>
        </button>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-list">
          <li>
            <a
              href="#about-us"
              class="mobile-nav-link"
              aria-label="Go to About Us section"
              ><div class="nav-link-container">About</div></a
            >
          </li>
          <li>
            <a
              href="#our-yachts"
              class="mobile-nav-link"
              aria-label="Go to Our Yachts section"
              ><div class="nav-link-container">Yachts</div></a
            >
          </li>
          <li>
            <a
              href="#reviews"
              class="mobile-nav-link"
              aria-label="Go to Customer Reviews section"
              ><div class="nav-link-container">Reviews</div></a
            >
          </li>
        </ul>
      </nav>
      <ul class="mobile-social-links">
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            class="mobile-social-link"
            target="_blank"
            aria-label="Visit our Instagram profile"
          >
            <svg class="mobile-social-icon" height="24" width="24">
              <use href="/images/symbol-defs.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            class="mobile-social-link"
            target="_blank"
            aria-label="Visit our YouTube channel"
            ><svg class="mobile-social-icon" height="24" width="24">
              <use href="/images/symbol-defs.svg#icon-youtube" />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            class="mobile-social-link"
            target="_blank"
            aria-label="Visit our Facebook page"
            ><svg class="mobile-social-icon" height="24" width="24">
              <use href="/images/symbol-defs.svg#icon-facebook" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>