<section class="section our-yachts" id="our-yachts">
  <div class="container section-container">
    <h2 class="section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <img
          class="yacht-photo"
          srcset="./images/our yahts/arrow@1x.jpg 1x, ./images/our yahts/arrow@2x.jpg 2x"
          src="./images/our yahts/arrow.jpg"
          alt="Arrow yacht"
        />
        <div class="yacht-description">
          <h3 class="yacht-name">Arrow</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <dt>LENGTH</dt>
            <dd>48m(155ft)</dd>
          </div>
          <div class="yacht-spec">
            <dt>BUILDER</dt>
            <dd>Admiral</dd>
          </div>
          <div class="yacht-spec">
            <dt>BUILT</dt>
            <dd>2021</dd>
          </div>
          <div class="yacht-spec">
            <dt>GUESTS</dt>
            <dd>11 in 5 cabins</dd>
          </div>
          <div class="yacht-spec">
            <dt>PRICE</dt>
            <dd>€33,500,000</dd>
          </div>
        </div>
      </li>
      <li class="yachts-item">
        <img
          class="yacht-photo"
          srcset="./images/our yahts/benetti@1x.jpg 1x, ./images/our yahts/benetti@2x.jpg 2x"
          src="./images/our yahts/benetti.jpg"
          alt="Benetti Oasis"
        />
        <div class="yacht-description">
          <h3 class="yacht-name">BENETTI OASIS 40M BO122</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <dt>LENGTH</dt>
            <dd>41m (133ft)</dd>
          </div>
          <div class="yacht-spec">
            <dt>SHIPYARD</dt>
            <dd>Benetti</dd>
          </div>
          <div class="yacht-spec">
            <dt>BUILT</dt>
            <dd>2025</dd>
          </div>
          <div class="yacht-spec">
            <dt>GUESTS</dt>
            <dd>10 in 5 cabins</dd>
          </div>
          <div class="yacht-spec">
            <dt>PRICE</dt>
            <dd>€23,210,000</dd>
          </div>
        </div>
      </li>
      <li class="yachts-item">
        <img
          class="yacht-photo"
          srcset="./images/our yahts/belleanne@1x.jpg 1x, ./images/our yahts/belleanne@2x.jpg 2x"
          src="./images/our yahts/belleanne.jpg"
          alt="Benetti Oasis"
        />
        <div class="yacht-description">
          <h3 class="yacht-name">BELLE ANNA</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <dt>LENGTH</dt>
            <dd>50m(155ft)</dd>
          </div>
          <div class="yacht-spec">
            <dt>SHIPYARD</dt>
            <dd>ISA</dd>
          </div>
          <div class="yacht-spec">
            <dt>BUILT</dt>
            <dd>2012</dd>
          </div>
          <div class="yacht-spec">
            <dt>GUESTS</dt>
            <dd>12 in 6 cabins</dd>
          </div>
          <div class="yacht-spec">
            <dt>PRICE</dt>
            <dd>€21,000,000</dd>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="yacht-rental">
      <a href="#rent-a-yacht" class="link">Yacht rental</a>
    </button>
  </div>
</section>
