<section class="section our-yachts" id="our-yachts">
  <div class="container">
    <h2 class="section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <picture>
          <source
            srcset="
              /images/our-yachts/14-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/14-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /images/our-yachts/13-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/13-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /images/our-yachts/12-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/12-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/our-yachts/11-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/11-img-yacht@2x-min.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="yacht-photo"
            src="/images/our-yachts/11-img-yacht@1x-min.jpg"
            alt="yacht"
          />
        </picture>
        <div class="yacht-description">
          <h3 class="yacht-name">Arrow</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <p class="options">LENGTH</p>
            <p class="parameter">48m(155ft)</p>
          </div>
          <div class="yacht-spec">
            <p class="options">BUILDER</p>
            <p class="parameter">Admiral</p>
          </div>
          <div class="yacht-spec">
            <p class="options">BUILT</p>
            <p class="parameter">2021</p>
          </div>
          <div class="yacht-spec">
            <p class="options">GUESTS</p>
            <p class="parameter">11 in 5 cabins</p>
          </div>
          <div class="yacht-spec">
            <p class="options">PRICE</p>
            <p class="parameter">€33,500,000</p>
          </div>
        </div>
      </li>
      <li class="yachts-item">
        <picture>
          <source
            srcset="
              /images/our-yachts/22-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/22-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /images/our-yachts/21-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/21-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /images/our-yachts/20-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/20-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/our-yachts/benetti-mob.jpg    1x,
              /images/our-yachts/benetti-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="yacht-photo"
            src="/images/our-yachts/benetti-mob.jpg"
            alt="yacht"
          />
        </picture>
        <div class="yacht-description">
          <h3 class="yacht-name">BENETTI OASIS 40M BO122</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <p class="options">LENGTH</p>
            <p class="parameter">41m (133ft)</p>
          </div>
          <div class="yacht-spec">
            <p class="options">SHIPYARD</p>
            <p class="parameter">Benetti</p>
          </div>
          <div class="yacht-spec">
            <p class="options">BUILT</p>
            <p class="parameter">2025</p>
          </div>
          <div class="yacht-spec">
            <p class="options">GUESTS</p>
            <p class="parameter">10 in 5 cabins</p>
          </div>
          <div class="yacht-spec">
            <p class="options">PRICE</p>
            <p class="parameter">€23,210,000</p>
          </div>
        </div>
      </li>
      <li class="yachts-item">
        <picture>
          <source
            srcset="
              /images/our-yachts/31-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/31-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /images/our-yachts/30-img-yacht@1x-min.jpg 1x,
              /images/our-yachts/30-img-yacht@2x-min.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /images/our-yachts/belle-anna-tab.jpg    1x,
              /images/our-yachts/belle-anna-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/our-yachts/belle-anna-mob.jpg    1x,
              /images/our-yachts/belle-anna-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="yacht-photo"
            src="/images/our-yachts/belle-anna-mob.jpg"
            alt="yacht"
          />
        </picture>
        <div class="yacht-description">
          <h3 class="yacht-name">BELLE ANNA</h3>
          <p class="yacht-type">LUXURY YAHTS</p>
        </div>
        <hr class="specs-separator" />
        <div class="yacht-specs">
          <div class="yacht-spec">
            <p class="options">LENGTH</p>
            <p class="parameter">50m(155ft)</p>
          </div>
          <div class="yacht-spec">
            <p class="options">SHIPYARD</p>
            <p class="parameter">ISA</p>
          </div>
          <div class="yacht-spec">
            <p class="options">BUILT</p>
            <p class="parameter">2012</p>
          </div>
          <div class="yacht-spec">
            <p class="options">GUESTS</p>
            <p class="parameter">12 in 6 cabins</p>
          </div>
          <div class="yacht-spec">
            <p class="options">PRICE</p>
            <p class="parameter">€21,000,000</p>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent-a-yacht" class="main-btn yacht-rental">Yacht rental</a>
  </div>
</section>