<section class="reviews section" id="reviews">
  <div class="container">
    <div class="reviews-title-wrap">
      <h2 class="reviews-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="reviews-desc">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <div id="review-carousel"></div>
  </div>
</section>