/* About us */
.about-us {
  margin-top: -59px;
  padding-bottom: 40px;
}

.about-us .container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
}

.about-us-border-container {
  border-radius: 24px;
  background: linear-gradient(#fbfbfb 60%, #0e1823 0%);
  overflow: hidden;

  border: 1px solid #0e1823;
}

.about-us-text-box {
  padding: 40px 20px;
}

.about-us-header {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #1b414b;
}

.about-us-text-block .top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.about-us-text-block .bottom-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.about-us-bg-img {
  max-width: 375px;
  min-width: 280px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #0e1823;
}

.about-us-img {
  width: 335px;
}

@media screen and (min-width: 768px) {
  .about-us {
    margin-top: -67px;
    padding-bottom: 75px;
  }

  .about-us-text-box {
    padding: 50px 32px;
  }

  .about-us-bg-img {
    max-width: 768px;
    height: 470px;
  }

  .about-us-img {
    width: 704px;
    height: 470px;
  }

  .about-us .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .about-us-header {
    max-width: 536px;
    font-size: 48px;
    margin-bottom: 50px;
    letter-spacing: -0.02em;
  }

  .about-us-text-block {
    max-width: 389px;
  }

  .about-us-text-block .top-text {
    font-size: 23px;
    letter-spacing: normal;
  }

  .about-us-text-block .bottom-text {
    font-size: 13px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    margin-top: -35px;
  }

  .about-us-bg-img {
    max-width: 1220px;
  }

  .about-us-img {
    width: 1180px;
  }

  .about-us .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .about-us-header {
    padding: 0;
    margin: 0;
  }

  .about-us-text-block {
    max-width: 353px;
  }

  .about-us-text-block .top-text {
    letter-spacing: normal;
  }

  .about-us-text-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 100px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-bg-img {
    max-width: 1440px;
  }

  .about-us-img {
    width: 1340px;
  }

  .about-us .container {
    max-width: 1440px;
  }

  .about-us-text-block {
    max-width: 404px;
  }
}