html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 100%;
  font-weight: 400;

  color: #fff;
  background-color: #0e1823;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-btn {
  display: block;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
  cursor: pointer;
}

.form-element {
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  background-color: transparent;
  color: rgba(251, 251, 251, 0.4);
}

.form-element:hover,
.form-element:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
  outline: none;
  color: #fbfbfb;
}

.form-element::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.form-element:hover::placeholder,
.form-element:focus::placeholder {
  color: #fbfbfb;
}


@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}