$midnight-blue: #040306;
$slate-blue: #0e1823;
$dark-cyan: #1b414b;
$ivory-white: #fbfbfb;
$ivory-white-50: #fbfbfb80;
$ivory-white-20: #fbfbfb33;
$ivory-white-40: #fbfbfb66;

html {
  scroll-behavior: smooth;
  @supports (-moz-appearance: none) {
    scrollbar-width: normal;
    scrollbar-color: #575455 #374151;
  }
}

html::-webkit-scrollbar {
  width: 0.6vw;
}


html::-webkit-scrollbar-track {
  background-color: #0e1823aa;
  transition: background-color 0.2s ease-in-out;
}

html::-webkit-scrollbar-track:hover {
  background-color: $slate-blue;
}

html::-webkit-scrollbar-thumb {
  background-color: $ivory-white;
  border-radius: 8px;
  transition: width 0.2s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
  width: 1vw;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  background-color: $slate-blue;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @supports (text-size-adjust: 100%) {
    text-size-adjust: 100%; 
  }
  @supports (text-size-adjust: 100%) {
    text-size-adjust: 100%;
  }
  @supports (font-synthesis: none) {
    font-synthesis: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main-btn {
  display: block;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: $ivory-white;
  background-color: $dark-cyan;
  cursor: pointer;
}

.form-element {
  width: 100%;
  border: 1px solid $ivory-white-20;
  border-radius: 12px;
  padding: 18px;
  background-color: transparent;
  color: $ivory-white-40;
}

.form-element:hover,
.form-element:focus {
  border: 1px solid $ivory-white-50;
  outline: none;
  color: $ivory-white;
}

.form-element::placeholder {
  color: $ivory-white-40;
}

.form-element:hover::placeholder,
.form-element:focus::placeholder {
  color: $ivory-white;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
