/* Footer */
.page-footer {
  background-color: #1b414b;
  max-width: 355px;
  min-width: 320px;
  border-radius: 24px 24px 0 0;
  margin: 0 auto;
}

.footer-container {
  padding: 40px 30px 20px;
  margin: 0 auto;
}

.footer-nav-soc-container {
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 37px;
}

.footer-nav-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.footer-nav-list {
  display: flex;
  gap: 4px;
  /* justify-content: center;
  align-items: center; */
}

.footer-nav-item {
  width: 66px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.3);
  /* justify-content: center;
  align-items: center; */
}

.footer-nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-soc-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-soc-item {
  width: 24px;
  height: 24px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-icon {
  fill: #fbfbfb;
}

.footer-main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 277px;
  margin-bottom: 82px;
  margin-left: auto;
  margin-right: auto;
}

.footer-text-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media (min-width: 768px) {
  .page-footer {
    max-width: 736px;
  }

  .footer-container {
    padding: 50px 48px 20px;
    margin: 0 auto;
  }

  .footer-nav-soc-container {
    display: flex;
    margin-bottom: 96px;
  }

  .footer-nav {
    margin-bottom: 0;
    gap: 110px;
  }

  .footer-nav-item {
    width: 91px;
  }

  .footer-soc-list {
    margin-bottom: 0;
    margin-left: 91px;
    align-items: start;
  }

  .footer-nav-logo {
    font-size: 20px;
  }

  .footer-main-text {
    font-size: 34px;
    max-width: 640px;
    margin-bottom: 99px;
  }

  .footer-text-container {
    gap: 32px;
  }

  .footer-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .page-footer {
    max-width: 1230px;
  }

  .footer-container {
    padding: 50px 75px 20px;
    margin: 0 auto;
  }

  .footer-nav {
    gap: 330px;
  }

  .footer-soc-list {
    margin-left: 311px;
  }

  .footer-main-text {
    max-width: 693px;
  }
}

@media screen and (min-width: 1440px) {
  .page-footer {
    max-width: 1390px;
  }

  .footer-nav {
    gap: 409px;
  }

  .footer-soc-list {
    margin-left: auto;
  }
}
