.hero {
  background: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.8) 75.3%,
      rgba(17, 19, 31, 0.8) 98.27%
    ),
    url('path_to_image');
}
.hero-logo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.hero-dscr {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 117%;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}
.hero-btn {
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background: #1b414b;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
