/* Our yachts */
.section-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 8px 40px;
}

.yacht-rental {
  border: 1px solid rgba(251, 251, 251, 0.35);
  width: 141px;
  height: 46px;
  margin-left: auto;
  white-space: nowrap;
  margin-right: auto;
  padding: 14px 32px;
  background-color: transparent;
  font-size: 13px;
  line-height: 1;
  color: #fbfbfb;
}

.yacht-rental:hover,
.yacht-rental:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 645px;
    font-size: 48px;
    margin: 0 auto 75px;
  }

  .yacht-rental {
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .section-title {
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    width: 645px;
    margin: 0 auto 75px;
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    width: 714px;
    font-size: 48px;
    letter-spacing: 0.02em;
  }
}