/* Our yachts */
.section-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 8px 40px;
}

.yachts-list {
  height: 478px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto 40px;
}

.yachts-item {
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 16px 16px 32px;
  flex: 0 1 335px;
}

.yacht-photo {
  border-radius: 24px;
  height: 240px;
  margin-bottom: 32px;
  object-fit: cover;
  background-position: center;
}

.yacht-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 17px;
  margin: 0 16px 15px;
}

.yacht-name {
  width: 55%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.yacht-type {
  width: 95px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  text-wrap: nowrap;
}

.specs-separator {
  border: none;
  background-color: #04030620;
  height: 1px;
  margin: 0 16px;
}

.yacht-specs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 16px 16px 0;
}

.yacht-spec {
  display: flex;
  justify-content: space-between;
  height: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.yacht-spec dt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  text-wrap: nowrap;
}

.yacht-spec dd {
  color: #040306;
  margin-inline-start: 0;
  width: 94px;
  max-width: 96px;
  text-wrap: nowrap;
  flex: 1 1 94px;
}

.yacht-rental {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  width: 141px;
  height: 46px;
  margin: 0 auto;
  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yacht-rental:hover,
.yacht-rental:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 645px;
    letter-spacing: 0.02em;
    font-size: 48px;
    margin: 0 auto 75px;
  }

  .yachts-list {
    flex-wrap: nowrap;
    width: 704px;
    height: 508px;
    gap: 32px;
    margin-bottom: 50px;
  }

  .yachts-item {
    flex: 0 0 336px;
  }

  .yacht-photo {
    height: 268px;
  }

  .yacht-description {
    width: 272px;
  }

  .yacht-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .yacht-type {
    font-size: 13px;
    letter-spacing: 0.03em;
    width: 103px;
  }

  .yacht-rental {
    width: 179px;
    height: 52px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    width: 645px;
    margin: 0 auto 75px;
  }

  .yachts-list {
    width: 1181px;
    gap: 25px;
  }

  .yachts-item {
    flex: 0 0 377px;
  }

  .yacht-description {
    width: 313px;
  }

  .specs-separator {
    width: 313px;
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    width: 714px;
    font-size: 48px;
  }

  .yachts-list {
    width: 1240px;
    gap: 32px;
  }

  .yachts-item {
    flex: 0 0 392px;
  }

  .yacht-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .yacht-description {
    width: 328px;
  }
}
