/* Rent */
.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.rent-title-form-container {
  margin-bottom: 80px;
}

.rent-input {
  height: 42px;
  margin-bottom: 18px;
  font-size: 12px;
}

.rent-input:hover,
.rent-input:focus {
  font-size: 14px;
}

.rent-input:hover::placeholder,
.rent-input:focus::placeholder {
  font-size: 14px;
  line-height: 1.28px;
}

.rent-comment {
  height: 108px;
  resize: none;
  margin-bottom: 40px;
}

.rent-btn {
  width: 122px;
  height: 46px;
}

.rent-btn:hover,
.rent-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.rent-image {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  border: none;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .rent-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rent-title {
    padding-left: 116px;
    padding-right: 115px;
    font-size: 28px;
    margin-bottom: 50px;
  }

  .rent-form {
    padding-left: 116px;
    padding-right: 115px;
  }

  .rent-input {
    font-size: 14px;
    height: 42px;
  }

  .rent-input::placeholder {
    font-size: 14px;
    line-height: 1.28;
  }

  .rent-comment {
    height: 116px;
    margin-bottom: 50px;
  }

  .rent-comment::placeholder {
    font-size: 14px;
    line-height: 1.28;
  }

  .rent-title-form-container {
    margin-bottom: 100px;
  }

  .rent-btn {
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 110%;
  }
}

/* Desktop_1280px */
@media screen and (min-width: 1280px) {
  .rent-section-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }

  .rent-title {
    padding-left: 0;
    padding-right: 0;
    font-size: 48px;
  }

  .rent-form {
    padding-left: 0;
    padding-right: 0;
    max-width: 472px;
  }

  .rent-input {
    height: 54px;
  }

  .rent-title-form-container {
    margin-bottom: 0;
  }

  .rent-image {
    min-height: 536px;
  }
}
