/* Reviews */
.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.reviews-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.reviews-title {
  max-width: 320px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fbfbfb;
}

.reviews-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.4;
}

.reviews-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  min-width: 280px;
  max-width: 335px;
  width: 100%;
}

.reviews-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  padding: 32px 8px;
  min-width: 280px;
  max-width: 335px;
  width: 100%;
  background: #fbfbfb;
  padding: 32px 16px;
}

.reviews-subtitle-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.reviews-item-img {
  border-radius: 50%;
}

.reviews-item-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #040306;
}

.review-item-desc {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (max-width: 374px) {
  .reviews-list {
    min-width: unset;
  }

  .reviews-item {
    min-width: unset;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .reviews .container {
    gap: 75px;
  }

  .reviews-title {
    max-width: 704px;
    font-size: 48px;
    letter-spacing: 0.02em;
  }

  .reviews-desc {
    max-width: 571px;
    font-size: 14px;
    line-height: 1.28;
  }

  .reviews-list {
    max-width: 704px;
    gap: 32px;
  }

  .reviews-item {
    max-width: 336px;
    padding: 32px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }

  .reviews-list {
    gap: 26px;
    max-width: unset;
    overflow-x: unset;
  }

  .reviews-item {
    padding: 32px 28px;
    max-width: 376px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews .container {
    max-width: 1340px;
  }

  .reviews-list {
    gap: 32px;
  }

  .reviews-item {
    max-width: 392px;
    padding: 32px 36px;
  }
}
