/* Reviews */
.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.reviews-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.reviews-title {
  max-width: 320px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #fbfbfb;
}

.reviews-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .reviews .container {
    gap: 75px;
  }

  .reviews-title {
    max-width: 704px;
    font-size: 48px;
    letter-spacing: 0.02em;
  }

  .reviews-desc {
    max-width: 571px;
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews .container {
    max-width: 1340px;
  }
}
